.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-logo {
  font-weight: bold;
  font-size: 1.2em;
}

.navbar-link {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #555;
}

.navbar-links {
  display: flex;
}

.navbar-link:last-child {
  margin-right: 0;
}
