.user-page-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 500px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.logout-button,
.change-password-button,
.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover,
.change-password-button:hover,
.submit-button:hover {
  background-color: #0056b3;
}

.form-container {
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-label {
  margin-bottom: 10px;
  display: block;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.goals-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.goal-item {
  font-size: 16px;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.goal-item.completed input[type="text"] {
  text-decoration: line-through;
  color: grey;
}

.goal-input {
  margin-left: 8px;
  border: none;
  border-bottom: 1px solid black;
}

ol {
  padding-left: 20px;
}
